@import url('/wp-content/themes/gv2018/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css') screen;
/* @import url('https://fonts.googleapis.com/css?family=Oswald:400|Roboto:300,400,700,900') screen; */

/* pt-serif-regular - cyrillic_latin */
@font-face {
	font-family: 'PT Serif';
	font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/pt-serif-v9-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/pt-serif-v9-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-italic - cyrillic_latin */
@font-face {
	font-family: 'PT Serif';
	font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/pt-serif-v9-cyrillic_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/pt-serif-v9-cyrillic_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-700 - cyrillic_latin */
@font-face {
	font-family: 'PT Serif';
	font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/pt-serif-v9-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/pt-serif-v9-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-700italic - cyrillic_latin */
@font-face {
	font-family: 'PT Serif';
	font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/pt-serif-v9-cyrillic_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/pt-serif-v9-cyrillic_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-regular - cyrillic_latin */
@font-face {
	font-family: 'Oswald';
	font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/oswald-v16-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/oswald-v16-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - cyrillic_latin */
@font-face {
	font-family: 'Roboto';
	font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/roboto-v18-cyrillic_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/roboto-v18-cyrillic_latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - cyrillic_latin */
@font-face {
	font-family: 'Roboto';
	font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
	font-family: 'Roboto';
	font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-v18-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/roboto-v18-cyrillic_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - cyrillic_latin */
@font-face {
	font-family: 'Roboto';
	font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/roboto-v18-cyrillic_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/roboto-v18-cyrillic_latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}