
.malinky-load-more {
	clear: both;
	width: 280px;
	margin: 1rem auto;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1 / 4;
	padding: 1rem;
	border: 1px solid royalblue;
	background-color: #fff;
}


.stories {
	padding: 1.5rem 0;
	display: -ms-grid;
	display: grid;
	grid-gap: 1rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-grid-columns: 300px 300px 300px;
	grid-template-columns: 300px 300px 300px;
	background-color: #fff;
}


.grid-item:nth-child(3) {
	-ms-grid-column: 3;
	-ms-grid-column-span: 1;
	grid-column: 3 / 4;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1 / 3;
}

.grid-item:nth-child(4) {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1 / 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
}

.grid-item:nth-child(5) {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	grid-column: 2 / 3;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2 / 3;
}

.grid-item:nth-child(6) {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1 / 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
	grid-row: 3 / 5;
}


.stories .pagination {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1 / 4;
	width: 100%;
	text-align: center;
}


.archive .content-area,
.page-template-default .content-area {
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas: "main aside";
	-ms-grid-columns: 1fr 1.5rem 300px;
	grid-template-columns: 1fr 300px;
	margin-top: 1.5rem;
}

.archive .content-area>main,
.page-template-default .content-area>main {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: main;
	min-width: 100%;
}

.archive .content-area>aside,
.page-template-default .content-area>aside {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: aside;
}


.post-template-default .content-area {
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas: "main aside";
	-ms-grid-columns: 1fr 1.5rem 300px;
	grid-template-columns: 1fr 300px;
	padding-top: 1.5rem;
}

.post-template-default .content-area>main {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: main;
	max-width: 690px;
}

.post-template-default .content-area>aside {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: aside;
}

.post-template-single-hero .content-area {
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas: "main aside";
	-ms-grid-columns: 1fr 1.5rem 300px;
	grid-template-columns: 1fr 300px;
	padding-top: 1.5rem;
}

.post-template-single-hero .content-area>main {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: main;
	max-width: 57rem;
}

.post-template-single-hero .content-area>aside {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: aside;
}