/**** mediaqueries ****/

@media only screen and (max-width: 1920px) {
  .container-big {
    max-width: 1280px;
  }
  .container {
    max-width: 1046px;
  }
}

@media only screen and (max-width: 1690px) {
  .container-big {
    max-width: 1280px;
  }
  .container {
    max-width: 1046px;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1046px;
  }
  .container-big {
    max-width: 1280px;
  }

}

@media only screen and (max-width: 1024px) {
	.entry-content .wp-caption {
		width: 100% !important;
	}
}

@media only screen and (max-width: 970px) {
  .widget-area {
    padding-right: 0;
  }
  .top-news-item {
    flex: 1 1 50%;
  }
  .main-navigation,
  .search-button,
	.subheader,
	.post-news {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .stories {
    padding: 0;
	}
	.site-info {
		order: 4;
	}
	.category-nav {
		margin-bottom: 1rem;
	}
	
}

@media only screen and (max-width: 768px) {
	.hidden-md {
		display: none !important;
	}
  .stories {
    padding: 0;
		margin-top: 1.5rem;
		display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
	}
	
	.grid-item:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.grid-item:nth-child(3) {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}

	.grid-item:nth-child(4) {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.grid-item:nth-child(5) {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
	.grid-item:nth-child(6) {
		grid-column: 1 / 2;
		grid-row: 4 / 6;
	}
	.grid-item:nth-child(7) {
		grid-column: 2 / 3	;
		grid-row: 4 / 5;
	}
	.grid-item:nth-child(8) {
		grid-column: 2 / 3;
		grid-row: 5 / 6;
	}


  .malinky-load-more {
    grid-column: 1 / 3;
  }
  .category .page-header,
  .archive .page-header {
    padding-top: 0rem;
  }
  .category .page-title,
  .archive .page-title {
    margin: 1rem 0;
  }
  .archive-description {
    font-size: .875rem;
  }
  .featured-post-title {
    font-size: 1.5rem;
  }
  .featured-space nav {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
	}
	
	.breadcrumbs>.container-big {
		display: block;
	}

	.custom-sht-text {
		font-size: .825rem;
	}
}

@media only screen and (max-width: 670px) {
  .hidden-sm {
    display: none !important;
  }
  .stories {
    padding: 0;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .top-news {
    margin-bottom: 1.5rem;
  }
  .site-counters {
    display: none;
  }
  .grid-item-img .post-format-thumb {
    right: 12px;
  }

  .category-news .content-area,
  .archive .content-area,
  .post-template-default .content-area,
  .page-template-default .content-area,
  .post-template-single-hero .content-area {
    grid-template-areas: "main" "aside";
    grid-template-columns: 1fr;
  }
  .news-list-item-wrap {
    padding-left: 0;
  }
  .widget-area {
    margin: 0 auto;
  }
  .gallery-columns-2 .gallery-item,
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-9 .gallery-item {
    max-width: 50%;
  }
  .post-template-single-hero .entry-header {
    max-width: 1920px;
    height: calc(100vh - 56px - 250px);
    min-height: 400px;
    position: relative;
  }
  .post-template-single-hero .entry-title {
    color: #fff;
    font-size: 2rem;
  }
  .post-template-single-hero .entry-header p {
    color: #fff;
    font-size: 1rem;
  }
  .entry-content .text-center > iframe {
    width: 100%;
	}
  .featured-space .post {
    flex: 0 0 250px;
  }
  .featured-post-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .top-news-item {
		flex: 1 1 100%;
		border-bottom: 1px solid #eee;
		padding: 1rem 0;
	}
	.top-news-item:nth-of-type(8) {
		border: none;
		padding-bottom: 0;
	}
		.top-popular {
		max-width: 300px;
		columns: 1;
	}
}

@media only screen and (max-width: 375px) {
  .hidden-xs {
    display: none !important;
  }
  .all-news-link {
    text-align: center;
    margin-top: 1rem;
  }
  .grid-item {
    margin-bottom: 2rem;
  }
  .site-info,
  .bottom-pages,
  .site-counters {
    flex-basis: 100%;
    margin: 1rem 0;
  }
  .hamburger {
    right: 0;
  }
  .top-news .meta-time {
    display: inline;
  }
  .news-list-item-img {
    display: block;
  }
  .news-list-item .meta {
    margin-top: .5rem;
  }
  .legal-info,
  .breadcrumbs {
    justify-content: start;
    text-align: left;
  }
  .legal-info .legal-page {
    margin: 0 0 .5rem 0;
	}
	.entry-meta .meta-views {
		margin-left: .5rem;
	}
	h1.entry-title {
		font-size: 1.5rem;
	}
	.post-template-single-fullwidth .entry-title,
	.page-template-page-fullwidth .entry-title,
	.post-template-single-fullwidth .entry-header p,
	.page-template-page-fullwidth .entry-header p {
		text-align: left;
	}
	.widget_gorodskievestidisquscommentswidget,
	.widget_recent_entries,
	.popular-posts {
		padding: 0;
		border: 0;
	}
}

@media only screen and (max-width: 320px) {
	.container,
	.container-big {
		padding: 0 10px;
	}
	.insert-code {
		margin: 0 0 1.5rem 0;
	}
}


@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  #masthead,
  #colophon,
  .subheader,
  .textwidget,
  aside,
  .post-template-default .content-area > aside,
  .widget-area,
  .stories,
  .top-post-line,
  .malinky-load-more,
  .dcl-disqus-thread,
	.entry-meta,
	.relap-default-wrapper,
	.custom-sht,
	.comments-area,
	.breadcrumbs
   {
    display: none;
  }
  .post-template-default .content-area,
  .post-template-single-hero .content-area {
    display: block;
  }
  .content-area > main {
    max-width: 100% !important;
  }
  

  body {
    margin: 2cm 0;
  }
  .site-content {
    margin: 0;
  }
  ul {
    page-break-inside: avoid;
  }
  p {
    font-size: 1rem;
    widows: 4;
    orphans: 3;
  }
  p > a[href^="http"]:not([href*="gorodskievesti.ru"]):after {
    content: " (" attr(href) ")";
  }
}